.pagination {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.card-body:hover {
    cursor:pointer
}

.list-group-item:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.col-4 {
    
    padding: 20px;
}

 ul {
    list-style: none;
    
    
}

ul li a{
    color: black;
}

ul li a:hover {
    color: brown;
}